.top {
  min-height: 100vh;
  display: flex;
  flex-direction: column;  // 縦
  align-items: center;     // 縦
  justify-content: center; // 横
  text-align: center;
  position: relative;
  z-index: 1;
  color: #fff;
  background-color: #222a4f;

  // 各セクション（skill, history, blog, contact）表示時
  &.active {
    flex-direction: row;     // 横
    align-items: center;     // 縦
    justify-content: center; // 横
    gap: 2rem;               // 名刺と表示セクションの間
  }
}

.business-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 500px;
  padding: 3rem 2rem;
  color: black;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .basic {
    display: flex;
    flex-direction: column;
    align-items: center;  // 横
    width: 100%;
  }

  .icon-wrapper {
    width: 125px;
    height: 125px;
    border-radius: 50%;  // 円形に
    overflow: hidden;    // 画像が枠から出ないように
    margin-bottom: 2rem;

    .icon {
      width: 100%;
      height: 100%;
      object-fit: cover; // 要素に合わせてトリム
    }
  }

  .text-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

    .occupation {
      margin-bottom: 1rem;
    }

    .name {
      font-size: 1.8rem;
    }

    .name-en {
      font-size: 0.9rem;
      margin-top: -0.3rem;

      .last-name {
        margin-right: 1.3rem;
      }
    }
  }

  .list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 2rem;
  }
}

// 右側に表示されるセクション(skill, timline, blog, contact)のコンテナ
.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;             // デフォルトを0に（非表示）
  opacity: 0;           // デフォルトを0に（非表示）
  overflow: hidden;     // 内容が出さないように

  // セクション表示時のスタイル
  &.section-container-active {
    width: 90%;
    height: 90%;
    max-width: 600px; // 最大幅
    opacity: 1;       // 表示
    margin: 5rem 0rem;
    transform: translateX(0);
  }
}
