.timeline {
  position: relative;
  min-height: 80vh;
  width: 500px;
  color: #fff;

  &-heading {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    text-align: left;
  }

  &-container {
    position: relative;
  }

  // 縦のライン
  &-line {
    position: absolute;
    top: 0;
    bottom: 0;   // 親の下端まで伸ばす
    left: 1rem;  // 固定位置で配置(丸アイコンと調整のため)
    width: 2px;
    background-color: #ccc;
    transform: translateX(0);
    z-index: 1;
  }

  &-item {
    display: flex;
    // justify-content: space-between; はtimeline-contentの内部で制御するため、こちらでは不要です。
    align-items: center; // timeline-content を縦方向の中央に揃えます
    position: relative;
    margin: 0rem 1rem 1rem 3rem;
    flex-direction: row;

    // 丸アイコン
    &::before {
      content: '';
      position: absolute;
      top: 50%;  // 親の中央に配置
      left: -1.95rem;
      transform: translate(-50%, -50%); // アイコンの中心を親の中心に
      width: 14px;
      height: 14px;
      background-color: #006afe;
      border-radius: 50%;
      z-index: 2;
      border: 1px solid white;
    }
  
    &:nth-child(odd) {
      flex-direction: row;  // 奇数番目の経歴の反転を解除
    }
  }

  &-content {
    background-color: rgba(154, 154, 154, 0.287);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.416);
    padding: 0.6rem 0.5rem;
    width: 100%; // 親要素の利用可能な幅を全て使用
    display: flex; // Flexboxを有効にします
    align-items: center; // 子要素（.yearと.text-group）を縦方向の中央に揃えます
    justify-content: space-between; // .yearを左端に、.text-groupを右端に配置します

    .text-group { // 新しく追加したラッパーのスタイル
      display: flex;
      flex-direction: column; // status と details を縦に並べます
      text-align: right; // テキストも右寄せにします

      .year {
        font-size: 0.9rem;
        flex-shrink: 0; // 年の部分が縮まないようにします
        margin-right: 15px; // 右側に少し余白を追加して、テキストと離します
      }

      .status {
        font-size: 1rem;
      }
    }
  }
}
