.timeline {
  padding: 4rem 2rem;
  position: relative;
  z-index: 1;
  min-height: 100vh;
  color: #fff;

  // 背景
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/bg-images/timeline.jpg');
    background-size: cover;                           // 背景画像をカバーする
    background-position: center;                      // 画像の中心に配置
    background-repeat: no-repeat;                     // 背景画像を繰り返さない
    filter: brightness(0.6);
    z-index: -1;
  }

  &-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
  }

  &-container {
    position: relative;
  }

  &-line {
    position: absolute;
    top: 0;
    bottom: 0;                          // 親の下端まで伸ばす
    left: 50%;                          // 親の中央
    width: 2px;
    background-color: #ccc;
    transform: translateX(-50%);        // 自身の幅の半分を左に移動(中央配置)
    z-index: 0;
  }

  &-item {
    display: flex;
    justify-content: space-between;     // 子要素間のスペースを均等に
    align-items: center;                // 中央配置(縦)
    position: relative;
    margin: 1.5rem;

    // 丸アイコン
    &::before {
      content: '';                      // 内容を空に
      position: absolute;
      top: 50%;                         // 親の中央に配置するため
      left: 50%;                        // 親の中央に配置するため
      transform: translate(-50%, -50%); // アイコンの中心を親の中心に配置
      width: 14px;
      height: 14px;
      background-color: #006afe;
      border-radius: 50%;
      z-index: 2;
      border: 1px solid white;
    }
  
    &:nth-child(odd) {
      flex-direction: row-reverse;
    }
  }

  &-content {
    padding: 1rem;
    background-color: rgba(154, 154, 154, 0.287);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.416);
    width: 48%;
  
    h3 {
      margin-bottom: 1rem;
  
      .status {
        font-size: 1.15rem;
      }
    }
  }

  // レスポンシブ（携帯）------------------------------
  @media screen and (max-width: 767px) {
    padding: 2rem 1rem;

    &-heading {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }

    &-line {
      left: 1rem;                // 固定位置で配置(丸アイコンと調整のため)
      transform: translateX(0);
    }

    &-item {
      flex-direction: row;
      align-items: flex-start;
      margin: 0rem 1rem 1rem 3rem;

      // 丸アイコン
      &::before {
        left: -1.95rem;
      }

      &:nth-child(odd) {
        flex-direction: row;    // 奇数番目の経歴の反転を解除
      }
    }

    &-content {
      padding: 0.6rem 0.5rem;
      width: 100%;
  
      h3 {
        margin-bottom: 0.8rem;
  
        .status {
          font-size: 1rem;
        }

        .year {
          font-size: 0.9rem;
        }
      }

      .details {
        font-size: 0.9rem;
      }
    }
  }
}
