.top {
  display: flex;
  flex-direction: column;
  justify-content: center;                        // 縦
  align-items: center;                            // 横
  text-align: center;
  position: relative;
  z-index: 1;
  min-height: 100vh;
  color: #fff;

  // 背景
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/bg-images/top.jpg');
    background-size: cover;                       // 背景画像をカバーする
    background-position: center;                  // 画像の中心に配置
    background-repeat: no-repeat;                 // 背景画像を繰り返さない
    filter: brightness(0.8);                      // 明るさ
    z-index: -1;
    animation: zoomInSlow 5s ease-out forwards;
  }
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5rem;
}

.paragraph {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 1rem;
}

.scroll-indicator {
  position: absolute;
  bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  color: #fff;
  font-size: 2rem;
}

.arrow-down {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-right: 2px solid #fff;  // 右側の線
  border-bottom: 2px solid #fff; // 下側の線
  transform: rotate(45deg);        // 45度回転させて矢印の形にする
}

// レスポンシブ（携帯）------------------------------
@media screen and (max-width: 767px) {

  .top {
    padding: 2rem;
  }

  .title {
    font-size: 1.5rem;
    margin-bottom: 4rem;
  }

  .paragraph {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-bottom: 0.8rem;
  }

  .scroll-indicator {
    bottom: 9rem;
  }
}
