@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: white;

  .section-anchor-offset {
    padding-top: 64px;
  }

	header {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 50;
		background-color: rgba(74, 85, 104, 0.8);
		text-align: center;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* 影 */

		nav {
			display: flex;
			justify-content: center;
			gap: 2rem;
			padding: 1rem;
		}

		a {
			color: white;
			transition: opacity 0.2s ease-in-out;

			&:hover {
				opacity: 0.8;
			}
		}
	}

	main {
		min-height: 100vh;
		gap: 2rem;
	}

	footer {
		background-color: #edf2f7;
		text-align: center;
		padding: 0.5rem;
		font-size: 0.875rem;
		color: #718096;
	}
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
