@use "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: white;

  .section-anchor-offset {
    padding-top: 64px;
  }

	main {
		min-height: 100vh;
		gap: 2rem;
    text-align: center;
	}
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
