html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: white;

	.section-anchor-offset {
		padding-top: 64px;
		margin-top: -64px;
	}

	header {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 50;
		background-color: #4a5568; /* bg-gray-600相当 */
		text-align: center;

		nav {
			display: flex;
			justify-content: center;
			gap: 2rem;     /* space-x-8相当 */
			padding: 1rem; /* p-4相当 */
		}

		a {
			transition: opacity 0.2s ease-in-out;
		
			&:hover {
				opacity: 0.8;
			}
		}
	}

	main {
		min-height: 100vh;
		padding-top: 5rem; /* pt-20相当 */
		gap: 2rem;         /* space-y-32相当 */
	}

	footer {
		background-color: #edf2f7; /* bg-gray-200相当 */
		text-align: center;
		padding: 0.5rem;     /* p-2相当 */
		font-size: 0.875rem; /* text-sm相当 */
		color: #718096;    /* text-gray-600相当 */
	}
}
