.selfintro {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column; /* 縦に並べる */
  align-items: center;    /* 中央配置(横) */
  position: relative;     /* 子要素の配置基準 */
  z-index: 1;
  min-height: 100vh;
  color: #fff;

  &::before {
    content: "";                  /* 擬似要素を空に */
    position: absolute;           /* 絶対位置 */
    top: 0;                       /* 上端からの位置 */
    left: 0;                      /* 左端からの位置 */
    width: 100%;                  /* 幅(親基準) */
    height: 100%;                 /* 高さ(親基準) */
    background-image: url('/bg-images/selfintro.jpg');
    background-size: cover;       /* 背景画像をカバーする */
    background-position: center;  /* 画像の中心に配置 */
    background-repeat: no-repeat; /* 背景画像を繰り返さない */
    filter: brightness(0.6);
    z-index: -1;
  }

	&-heading {
		font-size: 2rem;
		margin-bottom: 2rem;
		font-weight: bold;
	}

	&-text {
    position: absolute;               // 絶対位置
    top: 55%;                         // 上端からの位置
    left: 72%;                        // 左端からの位置
    transform: translate(-50%, -50%); // 自身の幅と高さの半分だけ中央に移動
    font-size: 1rem;
    line-height: 2;                   // 行高
    text-align: left;                 // 左揃え

    // カードのスタイル設定
    background-color: rgba(154, 154, 154, 0.287); // 背景（透ける）
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.416);  // 影
    width: 47%;

    .selfintro-item {
      margin-bottom: 1.5rem;

      h3 {
        font-weight: bold;
        
        font-size: 1.2rem;
      }

      ul {
        padding-left: 1rem;
      }
    }
  }
}
